.customProfilePicCont {
  width: 120px;
  height: 120px;
  border-radius: 100px;
  overflow: hidden;
}

.customCardImgSize {
  height: 250px;
  object-fit: cover;
}

.customThumbnail {
  width: 60px;
  height: 60px;
  object-fit: cover;
}
