@use "customContainers";
@import "customVariables";
@import "../../node_modules/bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
}

// BODY BACKGROUND FOR PROFILE AND FEED
.bgGradient {
  background: linear-gradient(to right, $dark 40%, $secondary);
}

.logoSizing {
  width: 60px;
  height: auto;
}

// Overrides side scroll caused by bootstrap gutter settings
.row {
  max-width: 100%;
}

.disabled {
  pointer-events: none;
  cursor: default;
  color: gray;
}
