@use "customContainers";
@use "customMargins";
@import "customVariables";
@import "../../node_modules/bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
}

// BODY BACKGROUND FOR PROFILE AND FEED
.bgOption {
  background: linear-gradient(to right, $dark 40%, $secondary);
}

.logoSizing {
  width: 60px;
  height: auto;
}

.customProfilePicCont {
  width: 120px;
  height: 120px;
  border-radius: 100px;
  overflow: hidden;
}

.customCardContSize {
  width: 215px;
  height: 215px;
  overflow: hidden;
}
